
.prpr {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    font-size: 0;
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    cursor: grab;
    user-select: none
}

.prpr:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.prpr:active {
    cursor: grabbing
}

@media (max-width: 860px) {
    .prpr {
        transform: scale(.8) translate(-30px, 31px)
    }

    .prpr:hover {
        -webkit-transform: scale(.8) translate(-30px, 31px);
        transform: scale(.8) translate(-30px, 31px)
    }
}

@media (max-width: 560px) {
    .prpr {
        transform: scale(.5) translate(-150px, 125px)
    }

    .prpr:hover {
        -webkit-transform: scale(.5) translate(-150px, 125px);
        transform: scale(.5) translate(-150px, 125px)
    }
}

.prpr #live2d {
    position: relative;
    z-index: 99
}


.mashiro-tips {
    opacity: 0;
    width: 250px;
    height: auto;
    min-height: 70px;
    margin: -20px 20px;
    padding: 5px 10px;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24);
    transition: box-shadow .2s ease;
    background: #fff;
    color: #212121;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    animation-delay: 5s;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-name: shake;
    animation-timing-function: ease-in-out
}


.live2d-tool {
    position: fixed;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 100;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

@media (min-width: 861px) {
    .live2d-tool {
        border-radius: 0 5px 5px 0;
        width: 35px;
        left: -17px;
        color: #fff;
        font-size: 13px;
        padding: 5px 0 5px 17px;
        font-weight: 700;
        z-index: 99;
        visibility: visible;
        writing-mode: vertical-rl;
        transition-property: left, bottom;
        transition-duration: .5s, .5s
    }

    .live2d-tool:hover {
        left: 0
    }
}

@media (max-width: 860px) {
    .live2d-tool {
        padding: 0 5px
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .isWebKit .live2d-tool {
        position: fixed;
        left: 0;
        width: auto;
        height: auto;
        z-index: 100;
        border-radius: 5px;
        font-size: 13px;
        cursor: pointer
    }

    @media (min-width: 861px) {
        .isWebKit .live2d-tool {
            border-radius: 0 5px 5px 0;
            width: 20px;
            margin-left: -35px;
            color: #fff;
            font-size: 13px;
            padding: 5px 0 5px 17px;
            font-weight: 700;
            z-index: 99;
            writing-mode: vertical-rl;
            transition-property: margin-left, bottom;
            transition-duration: .5s, .5s
        }

        .isWebKit .live2d-tool:hover {
            margin-left: -17px
        }
    }
}

@supports (-ms-ime-align:auto) {
    .live2d-tool {
        margin-left: 0;
        left: -17px;
        transition-property: left, bottom
    }

    .live2d-tool:hover {
        margin-left: 0
    }
}

.live2d-tool .keys {
    position: relative
}

.hide-live2d {
    visibility: visible
}

.switch-live2d {
    visibility: hidden
}

.save-live2d {
    visibility: hidden
}

@media (min-width: 861px) {
    .hide-live2d {
        background-color: orange;
        bottom: 156px;
        visibility: visible;
        min-height: 40px
    }

    .switch-live2d {
        background-color: #f7bb4d;
        bottom: 105px;
        visibility: visible;
        min-height: 51px
    }

    .save-live2d {
        background-color: #eed099;
        bottom: 66px;
        visibility: visible;
        min-height: 40px
    }
}

.hide-live2d-tool {
    bottom: 15px
}

.aplayer-miniswitcher, .ap-hover, .live2d-tool, .aplayer-icon {
    border-radius: 0 6px 6px 0 !important
}


